.bg-smartcity {
    background-color: #101d2f !important;
}

.btn-smartcity {
    background-color: #101d2f !important;
    color: white !important;
}

#table-label{
    text-transform: uppercase;
}

.current-menu-item {
    color: blue !important;;
}